{{- if and .Values.secretGenerationJob.enabled .Values.clusterPharia.enabled }}
{{- include "qs-postgresql-cluster.secretCreationJob" (dict "root" . "clusterName" "pharia" "clusterConfig" .Values.clusterPharia) }}
{{- end }}
